.background {
  background-image: url("background.png");
  size: 100%;
  background-size: cover;
}

.logo {
  background-image: url("logo.png");
  background-size: contain;
  width: 1s;
  height: auto;
  top: 16px;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

/* LABEL */
label {
  color: #ececec;
  font-weight: 600;
}

/* TEXTBOX */
textbox {
  text-align: center;
  width: 64px;
  height: 12px;
  color: #ececec;
  background-color: transparent;
  border-width: 0px;
}

textbox:hover {
  background-color: transparent;
  border-width: 0px;
}

textbox:checked {
  background-color: transparent;
  border-width: 0px;
}

textbox:checked.caret {
  caret-color: #ececec;
}

/* KNOB */
param-knob knob {
  size: 64px;
  border-radius: 50%;
  overflow: hidden;
}

param-knob knob .knob-track {
  width: 1s;
  height: 1s;
  border-radius: 50%;
  color: #0cc0c0;
  background-color: #797979;
}

param-knob knob .knob-head {
  width: 1s;
  height: 1s;
  border-radius: 50%;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

param-knob knob .knob-tick {
  width: 8%;
  height: 45%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #797979;
}

/* SLIDER */
param-slider2 textbox {
  width: 56px;
}

param-slider2 slider {
  height: 16px;
  width: 1s;
  border-radius: 50%;
  background-color: #797979;
}

param-slider2 slider.vertical {
  height: 136px;
  width: 8px;
}

param-slider2 slider .thumb {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #0cc0c0;
  box-shadow: 0px 3px 3px #00000026;
}

param-slider2 slider:focus-visible {
  outline-width: 1px;
  outline-color: #51afef80;
  outline-offset: 3px;
  border-radius: 4px;
}

param-slider2 slider .active {
  background-color: #0cc0c0;
  border-radius: 50%;
}

param-slider2 slider:disabled {
  background-color: #404040;
}

param-slider2 slider:disabled .active {
  background-color: #404040;
}

param-slider2 slider:disabled .thumb {
  background-color: #404040;
}

/* SWITCH */
param-switch switch {
  width: 60px;
  height: 30px;
  cursor: hand;
}

param-switch switch .switch-handle {
  left: 6px;
  width: 20px;
  height: 20px;
  transition: left 100ms;
  border-width: 0px;
  top: 1s;
  bottom: 1s;
  background-color: #797979;
}

param-switch switch .switch-handle-bg {
  width: 60px;
  height: 30px;
  top: 1s;
  bottom: 1s;
  border-color: #797979;
  border-width: 2px;
  background-color: #84848426;
  border-radius: 50%;
  transition: background-color 100ms;
}

param-switch switch:checked .switch-handle-bg {
  background-color: #0cc0c0;
}

param-switch switch:checked .switch-handle {
  left: 35px;
  transition: left 100ms;
  background-color: #797979;
}

param-switch switch:hover .switch-handle {
  background-color: #a7a7a7;
}

param-switch switch:checked:hover .switch-handle {
  background-color: #2f2f2f;
}

/* NUMBER INPUT */
param-number-input textbox {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  width: 48px;
  height: 32px;
  color: #0cf2f2;
  background-color: #797979;
  border-width: 0px;
  border-radius: 8px;
}

param-number-input textbox:hover {
  border-width: 0px;
  background-color: #8e8e8e;
}

param-number-input textbox:checked {
  border-width: 0px;
  background-color: #8e8e8e;
}

param-number-input textbox:checked.caret {
  caret-color: #ececec;
}

/* FOOTSWITCH */
param-footswitch .footswitch {
  size: 64px;
  border-radius: 50%;
  background-color: #797979;
}

param-footswitch .footswitch-light {
  size: 16px;
  border-radius: 50%;
  top: 1s;
  bottom: 1s;
  left: -24px;
  background-color: #ae1111;
  box-shadow: inset 0px 4px 4px #00000040;
  position-type: self-directed;
  transition: 100ms background-color;
}

param-footswitch .footswitch-light.active {
  background-color: #dc0e0e;
  transition: 100ms background-color;
}

param-footswitch .footswitch-beam {
  width: 1s;
  height: 1s;
  border-radius: 50%;
  position-type: self-directed;
  opacity: 0;
  transition: opacity 200ms;
}

param-footswitch .footswitch-beam.active {
  opacity: 1;
  transition: opacity 200ms;
}

param-footswitch .footswitch-bg {
  width: 1s;
  height: 1s;
  border-radius: 50%;
  background-color: #4f4f4f;
  border-color: #2f2f2f;
  border-width: 1px;
}

param-footswitch .footswitch-fg {
  width: 1s;
  height: 1s;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  background-color: #797979;
  box-shadow: 2px 2px 3px #0000004d;
  transition: top 100ms;
  transition: left 100ms;
  transition: right 100ms;
  transition: bottom 100ms;
}

param-footswitch .footswitch-fg:hover {
  background-color: #8e8e8e;
}

param-footswitch .footswitch-shadow {
  width: 1s;
  height: 1s;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  box-shadow: -2px 2px 3px #0000004d;
  transition: top 100ms;
  transition: left 100ms;
  transition: right 100ms;
  transition: bottom 100ms;
}

param-footswitch .footswitch-fg.active {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  transition: top 100ms;
  transition: left 100ms;
  transition: right 100ms;
  transition: bottom 100ms;
}

param-footswitch .footswitch-shadow.active {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  transition: top 100ms;
  transition: left 100ms;
  transition: right 100ms;
  transition: bottom 100ms;
}

/* FILEDROP */
param-filedrop label.file-path {
  overflow: hidden;
}

param-filedrop button.filedrop {
  width: 104px;
  border-color: #797979;
  border-width: 2px;
  border-radius: 8px;
  background-color: transparent;
  transition: background-color 100ms;
}

param-filedrop button.filedrop:hover {
  background-color: #2f2f2f;
  transition: background-color 100ms;
}

param-filedrop button.filedrop .icon {
  position-type: self-directed;
  fill: #ececec;
}

/* TABS */
param-tabs .tabs {
  width: 80px;
  height: 54px;
}

param-tabs label.tab {
  width: 80px;
  height: 1s;
  color: #ececec;
  child-space: 1s;
  background-color: transparent;
  transition: background-color 100ms;
}

param-tabs label.tab:checked {
  color: #211f24;
  background-color: #00dbdb;
  transition: background-color 100ms;
}

param-tabs label.tab:hover {
  background-color: #2f2f2f;
  transition: background-color 100ms;
}

param-tabs label.tab:checked:hover {
  background-color: #00dbdb;
  transition: background-color 100ms;
}

param-tabs label.tab:first-child {
  border-color: #797979;
  border-width: 2px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

param-tabs label.tab:last-child {
  border-color: #797979;
  border-width: 2px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
