/* STYLES FOR THE BOXY PEDAL */

@import url(/fonts/nexa/stylesheet.css);
@import url(/fonts/questrial/stylesheet.css);

.mod-pedal{{{cns}}} .mix-controls {
    padding: 16px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.mod-pedal{{{cns}}} .midi-controls {
    display: flex;
    flex-direction: row;
    padding: 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
}

.mod-pedal{{{cns}}} .midi-settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px 0px 0px -8px;
}

.mod-pedal{{{cns}}} .grain-controls, .buffer-controls {
    height: 114px;
}

.mod-pedal{{{cns}}} .grain-controls {
    justify-content: end;
    align-items: center;
    padding: 16px;
    margin-top: 64px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: none;
}

.mod-pedal{{{cns}}} .buffer-controls {
    justify-content: end;
    align-items: center;
    padding: 16px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.mod-pedal{{{cns}}} .footswitches {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3px;
    height: 136px;
    border-radius: 8px;
}

.mod-pedal{{{cns}}} .row {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.mod-pedal{{{cns}}} .column {
    display: flex;
    flex-direction: column;
}

.mod-pedal{{{cns}}} .gap {
    gap: 12px;
}

.mod-pedal{{{cns}}} .mix-controls, .midi-controls, .grain-controls, .buffer-controls, .footswitches {
    display: flex;
    flex-direction: row;
    gap: 12px;
    background-color: #211F24;
    border: 2.5px solid #797979;
}

.mod-pedal{{{cns}}} .grain-controls, .buffer-controls, .footswitches {
    gap: 16px;
}

.mod-pedal{{{cns}}} .mix-controls {
    gap: 8px;
    margin-right: -8px;
}

.mod-pedal{{{cns}}} .logo {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    background-image:url(/resources/assets/logo.png{{{ns}}});
    background-repeat:no-repeat;
    background-position:center;
    background-size: 470px 58px;
    width: 458px;
}

.mod-pedal{{{cns}}} .mod-knob, .mod-slider, .mod-number-input {
    z-index: 20;
}

.mod-pedal{{{cns}}} .unicode-symbol {
    font-size: 22px;
    vertical-align: text-top;
    line-height: 18px;
}

/* = CONTAINER
================================================ */
.mod-pedal{{{cns}}} {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1136px;
    height: 447px;
    border-radius: 8px;
    padding: 8px;
}

.mod-pedal{{{cns}}}::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 8px;
    box-shadow: inset 8px 8px 8px 0 #141316, inset -8px -8px 8px 0 #141316;
}

/* = PARAMETER NAME
================================================ */
.mod-pedal{{{cns}}} .mod-param-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ECECEC;
    font-weight: 600;
    margin-top: 1px;
    font-size: 11.5px;
}

/* = KNOBS
================================================ */
.mod-pedal{{{cns}}} .mod-knob .mod-knob-image {
    background-image:url(/resources/assets/knob.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:auto 64px;
    height:64px;
    width:64px;
    margin:0 auto;
}

/* = SLIDER
================================================ */
.mod-pedal{{{cns}}} .mod-slider {
    width: 40px;
}
.mod-pedal{{{cns}}} .mod-slider .mod-slider-image {
    background-image:url(/resources/assets/slider.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:auto 160px;
    height:160px;
    width:29px;
    margin:0 auto;
}

/* = FOOTSWITCH
================================================ */
.mod-pedal{{{cns}}} .mod-footswitch {
    position: relative;
    background-image:url(/resources/assets/button.png{{{ns}}});
    background-position:bottom center !important;
    background-repeat:no-repeat;
    background-size:auto 128px;
    cursor:pointer;
    height:64px;
    width: 64px;
}
.mod-pedal{{{cns}}} .mod-footswitch.on {
    background-position: top center !important;
}
.mod-pedal{{{cns}}} .mod-footswitch > .mod-light {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    background-image:url(/resources/assets/light.png{{{ns}}});
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:auto 48px;
    height:24px;
    width:24px;
}
.mod-pedal{{{cns}}} .mod-footswitch.on > .mod-light {
    background-position-y: top !important;
}
.mod-pedal{{{cns}}} .footswitches .mod-param-title {
    margin-top: 8px;
}

/* = SWITCH
================================================ */
.mod-pedal{{{cns}}} .mod-switch {
    z-index: 20;
}
.mod-pedal{{{cns}}} .mod-switch-image {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    align-items: center;
    padding: 4px;
    width: 60px;
    height: 30px;
    border: 2.5px solid #797979;
    border-radius: 100px;
    background-color: transparent;
    background-image:url(/resources/assets/light.png{{{ns}}});
    background-size: 0 0;
    justify-content: start;
    cursor: pointer;
}
.mod-pedal{{{cns}}} .mod-switch-image.on {
    background-color: #0CC0C0;
    justify-content: end;
}
.mod-pedal{{{cns}}} .mod-switch-image > .circle {
    width: 20px;
    height: 20px;
    background-color: #797979;
    border-radius: 50%;
}
.mod-pedal{{{cns}}} .mod-switch .mod-param-title {
    margin-top: 8px;
}

/* = NUMBER INPUT
================================================ */
.mod-pedal{{{cns}}} .mod-number-input .mod-number-input-image {
    background-image:url(/resources/assets/number-input.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:auto 32px;
    height:32px;
    width:48px;
    margin:0 auto;
}

.mod-pedal{{{cns}}} .mod-number-input > .mod-param-title {
    margin-top: 8px;
}

/* = ENUMERATED LIST
================================================ */
.mod-pedal{{{cns}}} .mod-enumerated-group {
    width:128px;
    height:28px;
    z-index: 35;
    border: 2px solid #797979;
    border-radius: 8px;
}

.mod-pedal{{{cns}}} .mod-enumerated {
    position: relative;
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
    color:#ECECEC;
    text-align: left;
    text-transform: uppercase;
    padding: 8px;
    margin-right: 12px;
}

.mod-pedal{{{cns}}} .mod-enumerated::after {
    content: "▼";
    position: absolute;
    top: 8px;
    right: -8px;
    color: #ECECEC;
}

.mod-pedal{{{cns}}} .mod-enumerated .mod-enumerated-selected {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.mod-pedal{{{cns}}} .mod-enumerated .mod-enumerated-list {
    display:none;
    color:#ECECEC;
    background-color:#211F24;
    width:128px;
    height: auto;
    max-height: 138px;
    overflow:auto;
    position: absolute;
    top: 28px;
    left: 0px;
    border: 2px solid #797979;
    border-radius: 8px;
}

.mod-pedal{{{cns}}} .mod-enumerated .mod-enumerated-list > div {
    padding: 8px;
    background-color: #211F24;
    border-bottom: 2px solid #797979;
}

.mod-pedal{{{cns}}} .mod-enumerated .mod-enumerated-list > div:last-child {
    border-bottom: none;
}

.mod-pedal{{{cns}}} .mod-enumerated .mod-enumerated-list > div:hover {
    background-color:#797979;
    cursor:pointer;
}

.mod-pedal{{{cns}}} .mod-enumerated-group .mod-param-title {
    margin-top: 11px;
}

/* = TABS
================================================ */
.mod-pedal{{{cns}}} .mod-tabs-container {
    position: relative;
    z-index: 20;
}

.mod-pedal{{{cns}}} .mod-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 64px;
}

.mod-pedal{{{cns}}} .mod-tabs > .mod-tab {
    width: 80px;
    height: 28px;
    line-height: 25px;
    border: 2.5px solid #797979;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: #ECECEC;
    cursor: default;
}

.mod-pedal{{{cns}}} .mod-tabs > .mod-tab:nth-child(1) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: none;
}

.mod-pedal{{{cns}}} .mod-tabs > .mod-tab:nth-child(2) {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.mod-pedal{{{cns}}} .mod-tabs > .mod-tab.selected {
    color: #211F24;
    background-color: #0CC0C0;
}

/* = BACKGROUND IMAGES - Background of the pedal
================================================ */
.mod-pedal{{{cns}}} {
    background-image:url(/resources/assets/background.png{{{ns}}});
}

/* = COLORS - Color of the pedals labels
================================================ */
.mod-pedal{{{cns}}} .mod-enumerated,
{
    color:#ECECEC;
}
.mod-pedal{{{cns}}} h1
{
    border-color: #ECECEC;
}
