/* STYLES FOR THE BOXY PEDAL */

@import url(/fonts/nexa/stylesheet.css);
@import url(/fonts/questrial/stylesheet.css);

.mod-pedal{{{cns}}} .stretch-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mod-pedal{{{cns}}} .mix-controls {
    padding: 16px;
    border-top-right-radius: 8px;
    border-left: 2px solid #797979;
    border-bottom: 2px solid #797979;
}

.mod-pedal{{{cns}}} .midi-controls {
    display: flex;
    flex-direction: row;
    padding: 20px 16px 16px;
    border-bottom-left-radius: 8px;
    border-left: 2px solid #797979;
    border-bottom: 2px solid #797979;
}

.mod-pedal{{{cns}}} .midi-settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mod-pedal{{{cns}}} .grain-controls {
    justify-content: end;
    align-items: center;
    padding: 16px;
    margin-top: 64px;
    border-top: 2px solid #797979;
    border-right: 2px solid #797979;
    border-top-right-radius: 8px;
}

.mod-pedal{{{cns}}} .buffer-controls {
    justify-content: end;
    padding: 16px;
    border-top: 2px solid #797979;
    border-right: 2px solid #797979;
    border-bottom: 2px solid #797979;
    border-bottom-right-radius: 8px;
    margin-bottom: -2px;
}

.mod-pedal{{{cns}}} .footswitches {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    border-top: 2px solid #797979;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.mod-pedal{{{cns}}} .row {
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.mod-pedal{{{cns}}} .column {
    display: flex;
    flex-direction: column;
}

.mod-pedal{{{cns}}} .gap-4 {
    gap: 4px;
}

.mod-pedal{{{cns}}} .gap-12 {
    gap: 12px;
}

.mod-pedal{{{cns}}} .mix-controls, .midi-controls, .grain-controls, .buffer-controls, .footswitches {
    display: flex;
    flex-direction: row;
    gap: 12px;
    background-color: #211F24;
}

.mod-pedal{{{cns}}} .grain-controls, .buffer-controls, .footswitches {
    gap: 16px;
}

.mod-pedal{{{cns}}} .mix-controls {
    gap: 8px;
    margin-right: -8px;
    padding: 20px 8px 16px;
}

.mod-pedal{{{cns}}} .logo {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    background-image:url(/resources/assets/logo.png{{{ns}}});
    background-repeat:no-repeat;
    background-position:center;
    background-size: 470px 58px;
    width: 458px;
}

.mod-pedal{{{cns}}} .mod-knob, .mod-slider, .mod-number-input {
    z-index: 20;
}

.mod-pedal{{{cns}}} .disabled {
    opacity: 0.5;
}

.mod-pedal{{{cns}}} .prevent-clicks {
    pointer-events: none;
}

/* = CONTAINER
================================================ */
.mod-pedal{{{cns}}} {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1136px;
    height: 454px;
    border-radius: 8px;
}

.mod-pedal{{{cns}}}::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 8px;
    box-shadow: inset 8px 8px 8px 0 #141316, inset -8px -8px 8px 0 #141316;
}

/* = PARAMETER NAME
================================================ */
.mod-pedal{{{cns}}} .mod-param-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ECECEC;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 11.5px;
    line-height: 13px;
    text-transform: uppercase;
    text-align: center;
}

.mod-pedal{{{cns}}} .mod-param-title > svg {
    width: 15px;
    height: 15px;
}

.mod-pedal{{{cns}}} svg.standby {
    width: 16px;
    height: 16px;
}

.mod-pedal{{{cns}}} svg.record, svg.play {
    padding: 1px;
}

.mod-pedal{{{cns}}} svg.stop {
    padding: 1.5px;
    margin-left: 2px;
}

/* = KNOBS
================================================ */
.mod-pedal{{{cns}}} .mod-knob {
    position: relative;
}

.mod-pedal{{{cns}}} .mod-knob .mod-knob-image {
    background-image:url(/resources/assets/knob.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:auto 64px;
    height:64px;
    width:64px;
    margin:0 auto;
}

.mod-pedal{{{cns}}} .mod-knob .mod-knob-value {
    margin: 0 auto;
    font-size: 10px;
    line-height: 10px;
    font-weight: 500;
    color: #ECECEC;
    pointer-events: none;
    width: 64px;
    text-align: center;
    margin-top: 1px;
}

.mod-pedal{{{cns}}} .mod-knob.small {
    margin-top: 0px;
    margin-right: 10px;
    align-self: center;
}

.mod-pedal{{{cns}}} .mod-knob.small .mod-knob-image {
    position: relative;
    background-size:auto 40px;
    height:40px;
    width:40px;
}

.mod-pedal{{{cns}}} .mod-knob.small .mod-knob-value {
    width: 40px;
}

.mod-pedal{{{cns}}} .mod-knob.small .mod-knob-image::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #797979;
    top: 50%;
    right: 0px;
    transform: translate(100%, -50%);
}

/* = SLIDER
================================================ */
.mod-pedal{{{cns}}} .mod-slider {
    width: 48px;
}
.mod-pedal{{{cns}}} .mod-slider .mod-slider-image {
    background-image:url(/resources/assets/slider.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:auto 145px;
    height:145px;
    width:29px;
    margin-left:12px;
}
.mod-pedal{{{cns}}} .mod-slider .mod-slider-value {
    margin: 0 auto;
    font-size: 10px;
    line-height: 10px;
    font-weight: 500;
    color: #ECECEC;
    pointer-events: none;
    width: 48px;
    text-align: center;
    margin-top: 4px;
}

/* = FOOTSWITCH
================================================ */
.mod-pedal{{{cns}}} .mod-footswitch {
    position: relative;
    background-image:url(/resources/assets/button.png{{{ns}}});
    background-position:bottom center !important;
    background-repeat:no-repeat;
    background-size:auto 128px;
    cursor:pointer;
    height:64px;
    width: 64px;
}
.mod-pedal{{{cns}}} .mod-footswitch.on {
    background-position: top center !important;
}
.mod-pedal{{{cns}}} .mod-footswitch > .mod-light {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    background-image:url(/resources/assets/light.png{{{ns}}});
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:auto 48px;
    height:24px;
    width:24px;
}
.mod-pedal{{{cns}}} .mod-footswitch.on > .mod-light {
    background-position-y: top !important;
}
.mod-pedal{{{cns}}} .footswitches .mod-param-title {
    margin-bottom: 6px;
}
.mod-pedal{{{cns}}} .mod-footswitch.bypass.on > .mod-light {
    background-position-y: bottom !important;
}
.mod-pedal{{{cns}}} .mod-footswitch.bypass.off > .mod-light {
    background-position-y: top !important;
}
.mod-pedal{{{cns}}} .mod-footswitch.bypass.on {
    background-position-y: bottom !important;
}
.mod-pedal{{{cns}}} .mod-footswitch.bypass.off {
    background-position-y: top !important;
}

/* = SWITCH
================================================ */
.mod-pedal{{{cns}}} .mod-switch {
    z-index: 20;
}
.mod-pedal{{{cns}}} .mod-switch-image {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    align-items: center;
    padding: 4px;
    width: 60px;
    height: 30px;
    border: 2.5px solid #797979;
    border-radius: 100px;
    background-color: transparent;
    background-image:url(/resources/assets/light.png{{{ns}}});
    background-size: 0 0;
    justify-content: start;
    cursor: pointer;
}
.mod-pedal{{{cns}}} .mod-switch-image.on {
    background-color: #0CC0C0;
    justify-content: end;
}
.mod-pedal{{{cns}}} .mod-switch-image > .circle {
    width: 20px;
    height: 20px;
    background-color: #797979;
    border-radius: 50%;
}

/* = NUMBER INPUT
================================================ */
.mod-pedal{{{cns}}} .mod-number-input .mod-number-input-image {
    background-image:url(/resources/assets/number-input.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:auto 32px;
    height:32px;
    width:48px;
    margin:0 auto;
}

/* = ENUMERATED LIST
================================================ */
.mod-pedal{{{cns}}} .mod-enumerated-group-container {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.mod-pedal{{{cns}}} .mod-enumerated-group {
    width:128px;
    height:28px;
    z-index: 35;
    border: 2px solid #797979;
    border-radius: 8px;
}

.mod-pedal{{{cns}}} .mod-enumerated {
    position: relative;
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
    color:#ECECEC;
    text-align: left;
    text-transform: uppercase;
    padding: 8px;
    margin-right: 12px;
}

.mod-pedal{{{cns}}} .mod-enumerated::after {
    content: "▼";
    position: absolute;
    top: 8px;
    right: -8px;
    color: #ECECEC;
}

.mod-pedal{{{cns}}} .mod-enumerated .mod-enumerated-selected {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.mod-pedal{{{cns}}} .mod-enumerated .mod-enumerated-list {
    display:none;
    color:#ECECEC;
    background-color:#211F24;
    width:128px;
    height: auto;
    max-height: 138px;
    overflow:auto;
    position: absolute;
    top: 28px;
    left: -2px;
    border: 2px solid #797979;
    border-radius: 8px;
}

.mod-pedal{{{cns}}} .mod-enumerated .mod-enumerated-list > div {
    padding: 8px;
    background-color: #211F24;
    border-bottom: 2px solid #797979;
}

.mod-pedal{{{cns}}} .mod-enumerated .mod-enumerated-list > div:last-child {
    border-bottom: none;
}

.mod-pedal{{{cns}}} .mod-enumerated .mod-enumerated-list > div:hover {
    background-color:#797979;
    cursor:pointer;
}

/* = TABS
================================================ */
.mod-pedal{{{cns}}} .mod-tabs-container {
    position: relative;
    z-index: 20;
}

.mod-pedal{{{cns}}} .mod-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.mod-pedal{{{cns}}} .mod-tabs > .mod-tab {
    width: 80px;
    height: 24px;
    border: 2px solid #797979;
    border-bottom: none;
    font-size: 10px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    color: #ECECEC;
    cursor: pointer;
}

.mod-pedal{{{cns}}} .mod-tabs > .mod-tab:nth-child(1) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.mod-pedal{{{cns}}} .mod-tabs > .mod-tab:nth-child(3) {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: 2px solid #797979;
}

.mod-pedal{{{cns}}} .mod-tabs > .mod-tab.selected {
    color: #211F24;
    background-color: #0CC0C0;
}

/* = BUTTON
================================================ */
.mod-pedal{{{cns}}} .button {
    position: relative;
    z-index: 20;
    width: auto;
    height: 18px;
    font-size: 9.5px;
    display: flex;
    align-items: center;
    font-weight: 700;
    border-radius: 4px;
    padding: 2px 4px;
    margin-right: 10px;
    color: #ececec;
    background-color: #797979;
    box-shadow: 0px 3px 3px #00000026;
    background-image:url(/resources/assets/light.png{{{ns}}});
    background-size: 0 0;
    cursor: pointer;
}

.mod-pedal{{{cns}}} .button:hover {
    background-color: #8e8e8e;
}

.mod-pedal{{{cns}}} .button.on {
    color: #211f24;
    background-color: #00dbdb;
}

.mod-pedal{{{cns}}} .button.on:hover {
    background-color: #16f1f1;
}

.mod-pedal{{{cns}}} .button::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #797979;
    top: 50%;
    left: 100%;
    transform: translate(0%, -50%);
}

/* = BACKGROUND IMAGES - Background of the pedal
================================================ */
.mod-pedal{{{cns}}} {
    background-image:url(/resources/assets/background.png{{{ns}}});
    border-radius: 8px;
}

/* = COLORS - Color of the pedals labels
================================================ */
.mod-pedal{{{cns}}} .mod-enumerated,
{
    color:#ECECEC;
}
.mod-pedal{{{cns}}} h1
{
    border-color: #ECECEC;
}
